body {
  display: flex;
  justify-content: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.blog-title {
  text-align: center;
  padding: 50px 0;
}
.bolg-content {
  height: fit-content;
  width: 680px;
  justify-content: center;
  padding: 0 0 100px 0;
}
.blog-content-block {
  padding: 0 0 20px 0;
}
.flexbox {
  display: flex;
  justify-content: center;
  gap: 20px;
}
